#header{}
#headerBarSpacer{position:absolute; background:black; top:0; left:0; right:0; height:80px;}
#headerBar{
    	position:fixed; top:0; left:0; right:0; margin-top:0; height:80px; 
        background:linear-gradient(90deg,MidnightBlue,navy,MidnightBlue);
	opacity:0.95;
	padding:0;
	z-index:999;
          }
#headerBar .content{width:full; max-width:1200px; margin:auto; margin-top:10px; height:60px; padding:0; display:flex;}
#headerBar .content a{padding:10px; align-self:center; height:100%; color:white; text-decoration:none; font-size:16px; padding-top:14px; transition:0.5s;}
#headerBar .content a:hover{color:gold; scale:1.06;}
#headerBar .content img{margin-right:auto; height:60px; width:auto; cursor:pointer; transition:0.5s;}
#headerBar .content img:hover{scale:1.06;}

#footer a{display:inline-block;}

#headerMenu{position:fixed; top:80px; left:0; bottom:0; background:navy; width:90%; max-width:400px; transition:0.5s; opacity:0; z-index:998; padding:15px; text-align:left;}
#headerMenu a{display:block; margin:5px; color:white; text-decoration:none;}
#headerMenu a:hover{color:gold; scale:1.06;}
#headerMenuHide{position:fixed; opacity:0.5; background:black; top:0; left:0; right:0; bottom:0; z-index:997;}



#loader{position:fixed;top:0;bottom:0;left:0;right:0;background:white;z-index:998; transition:0.5s;}
        #loader div{
        		border:16px solid #efefef;
	            border-top:16px solid midnightblue;
	            border-bottom: 16px solid midnightblue;
	            border-radius:50%;
	            width:120px; height:120px;
	            animation: spin 2s linear infinite;
	            margin:auto;margin-top:200px;
        }
        @keyframes spin{
        	0% { transform: rotate(0deg); }
  			100% { transform: rotate(360deg); }
        }

